name: E2E Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build . -t vulnmng:latest

    - name: Run E2E Script
      run: ./scripts/e2e_test.sh
